header{
    /*position:sticky;/*me dá problemas con mozilla*/
   /* top:0;*//*me dá problemas con mozilla*/
    display: flex;
    flex-direction: row;
    align-items: center;
	background-color:orange;
    border:1px solid red;
    height: 1.5em;
    padding: 0.5em;
}
    header div {
        justify-content:space-around;
        flex:1;
    }
        header div div{
            display:flex;
            flex-direction:row;
            align-items: center;
        }
        header nav a img{
            height: 1em;
            padding: .2em;

            border: 1px solid black;
            border-radius: 5px;
            background-color: #D4AC0D;
            
        }
        header div div p{
            font-size: 18px;
        }

           
