body > nav{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid orange;
    position:sticky;/*me dá problemas con mozilla*/
    top:0;
    padding: 15px;
    background-color: #F7DC6F;
    color: white;
}
body > nav > div{
        width: 5em;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0.2em;
        
    }
    body > nav div img{
        height: 1em;
        padding: .2em;
        border: 1px solid black;
        border-radius: 5px;
        background-color: #D4AC0D;
    }
    body > nav a{
        text-decoration:none;
        font-family: 'Raleway', sans-serif;
    }
    body > nav a:visited{
        color:black;
        
    }
    body > nav a:hover{
        cursor:pointer;
    }
    body > nav a svg{
        
        font-size: 5rem;
    }